.lista {
    display: grid;
    gap: 5px 0px;
    background-color: rgba(0, 0, 0, 0);
    
    min-width: 900px;

}

.items {
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 0px 10px;
    display: flex;
    min-width: 450px;
    justify-content: space-between;    
}

.checkedtrue {
    background-color: #222222;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
}

.checkedtrue .button {
    background-color: #222222;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
    cursor: not-allowed;
}



.input {
    color: #888888;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    height: 30px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #252628;
    padding: 0px 5px 0px 5px;


}

.finishInput {
    background-color: #f1f1f1;
    box-shadow: none !important;
}

.input::placeholder {
    color: #ccc;
}

.input:read-write {
    color: #f2f2f2;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px 5px 0px 0px;
}

.input:read-write::placeholder {
    color: #f2f2f2;
}

.input:read-only:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0;
}

.titleInputLista {
    width: 100%;
}

.dateInput {
    max-width: 120px;
    min-width: 120px;
}

.btLista {
    color: white;
    border-width: 0px;
    border-radius: 5px;
    min-width: 70px;
    height: 30px;
}